<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="login">
        <h1>Login</h1>
        <form class="forms-container">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <!-- boton ingresar -->
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="button">Ingresar</button>
            </div>
            <!-- No tienes cuenta?  Registrar -->
            <p>No tienes cuenta? <a href="#">Registrar</a> </p>
            <!-- Recuperar contraseña -->
            <a href="#">Recuperar contraseña</a>
        </form>
        
    </div>
</div>

